

<h1 id="headline">Lethan's Pomodoro Timer</h1>
<h2 id="sub-headline"></h2>
<div class="button-container">
        <button onclick="manualJump('Work')">Pomodoro</button>
        <button onclick="manualJump('Short Break')">Short Break</button>
        <button onclick="manualJump('Long Break')">Long Break</button>
        
        
        
</div>
<div id="timer-display"> 25:00
        </div>
        
</div>
<style>

      
        
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            padding-top: 50px;
            
            font-size: 50px;
            background-color: wheat;
            background-size: cover;
            min-height: 100vh;
                margin: 0; /* Removes the default white border around the page */
                background-position: center;
                background-repeat: no-repeat;
                background-position: center;
                transition: background-color 0.8s ease;
            
        }

        button{
                background-color: rgba(255,255,255,0.3);
                border-radius: 12px;
                border: none;
                padding: 12px 24px;
                font-weight: 600;
        }

        button:hover{
                cursor: pointer;

        }
        .timer-display{
                font-size: 75px;
        }

        .task-box{
                border:1px solid red;
                padding:10px;
                margin:10px;
        }
        
        
        
      


</style>



<input type="text" id="task-input" placeholder="Enter task">
<button onclick="send_task()">Add Task</button>
<button id="start-btn">Start</button>
<button id="reset-btn">Reset</button> 
<button onclick="fastForward()"> >> </button>
<div id="task-container"></div>
        <script>

                function fastForward(){
                        if(timerRunning !== null){
                                secondsRemaining = 1;

                        }
                }

               

                async function Duration(){
                const response = await fetch('/api/timer/status');
                const data = await response.json();

                console.log(data.seconds);
                secondsRemaining = data.seconds;
                
                let secs = secondsRemaining % 60;
            let mins = Math.floor(secondsRemaining / 60);
            let formattedSecs = secs < 10 ? "0" + secs : secs;

            document.getElementById('sub-headline').innerText = data.phase;
            
            display.innerText = mins + ":" + formattedSecs;

            if (data.phase == "Work"){
                document.body.style.backgroundColor = "#2364AA";
            }else if(data.phase== "Short Break"){
                document.body.style.backgroundColor = "#6FC276";

            }else{
                document.body.style.backgroundColor = "#6FC276";
            }
            

            
        }

        // This is for whenever the button is clicked
        

        async function load_tasks(){
                const response = await fetch('/api/get_task');
                document.getElementById('task-container').innerHTML = "";
                const data = await response.json();
                console.log(data)

                data.Items.forEach(tasks => {
                        // This creates the outer box to hold all the infor
                const box = document.createElement('div');
                box.classList.add('task-box')

                const taskName = document.createElement('span');
                taskName.innerText = tasks[1]
                box.appendChild(taskName)

                // Delete Button in div
                const deleteButton = document.createElement('button');
                deleteButton.innerText = 'Delete'
                deleteButton.dataset.id = tasks[0]
                box.appendChild(deleteButton)

                deleteButton.addEventListener("click", async function () {
    const taskId = deleteButton.dataset.id;

    const response = await fetch('/api/delete_task', {
        method: 'DELETE',
        headers: {
            "Content-Type": 'application/json'
        },
        body: JSON.stringify({
            id: taskId
        })
    });
});

                // Inner box
                const currentProgress = document.createElement('span');
                currentProgress.innerText = `${tasks[3]} / ${tasks[2]}`;

                box.appendChild(currentProgress);

                document.getElementById('task-container').appendChild(box)

                        
                }); 

        

        }

        async function send_task(){
                console.log("Button was clicked! Starting the engine...");
                const taskName = document.getElementById('task-input').value;

                const response = await fetch('/api/add_item', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ name: taskName })

                }
                );

                if (response.ok){
                        console.log("Data saved!")

                        load_tasks();

                        // We want to refresh the blank so the user can add another value
                        document.getElementById("task-input").value = "";
                }

        }
        
        async function add_task(){
                const userInput = await fetch('api/')
        }
         function manualJump(phaseName){
                clearInterval(timerRunning);
                timerRunning = null;

                document.getElementById('start-btn').innerText = "Start";
                        fetch('/jump/' + phaseName)
        .then(() => {
            // 2. Once the jump is finished, update the screen
            // Use the function you already have that fetches the status
            Duration()(); 
        });
                }
        
        
       
	// JavaScript File for the Time

        // variable to hold the seconds

        let secondsRemaining = 0;

        // A function that runs every 1 second

	const myButton = document.getElementById('start-btn');
        const display = document.getElementById('timer-display');
        const myButton2 = document.getElementById('reset-btn')
        let timerRunning = null;

        
        myButton2.addEventListener('click',function(){
                clearInterval(timerRunning);
                timerRunning = null;
                
                Duration();
                myButton.innerText = "Start";


                


        });
        
        // This tells what the button to do whenever clicked
        myButton.addEventListener('click', function() {

    if (timerRunning !== null) {
        // STOP LOGIC
        clearInterval(timerRunning);
        timerRunning = null;
        myButton.innerText = "Start";
        return; // Exit the function here so we don't start a new timer!
    } else {
        // START LOGIC
        myButton.innerText = "Stop";
        
        timerRunning = setInterval(() => {
            secondsRemaining--; 
            
            let secs = secondsRemaining % 60;
            let mins = Math.floor(secondsRemaining / 60);
            let formattedSecs = secs < 10 ? "0" + secs : secs;
            
            display.innerText = mins + ":" + formattedSecs;

            if (secondsRemaining <= 0) {
                clearInterval(timerRunning);
                fetch('/next').then(()=> {
                                console.log("Server updated! Now getting the new time...");
                                Duration();
                        })
                timerRunning = null;
                myButton.innerText = "Start";
                alert("Time is up!");
            }
        }, 1000); // This closes the setInterval
    } // This closes the 'else'
}); // This closes the addEventListener


     
        
        
        Duration();
	
	</script>




